<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>我要许愿-许愿网</title>
<meta name="description" content="许愿网是一个专业在线许愿、在线发祝福、在线祝福、在线发愿望的平台，并为网友提供永久保存许愿服务的许愿网站。愿望不是一个遥不可及的事，只有心中有信念，许愿网相信每个愿望都可以实现。来许网(www.laixu.net)：来这里许愿！" />
<meta name="keywords" content="发布愿望,我要许愿,增加愿望,帖愿望,许愿,愿望,许愿网,许愿树,许愿池,许愿瓶,许愿墙,许愿望,发祝福,在线祈福,许愿玻璃瓶,许愿精灵,许愿清单,我要许愿,许愿网站,实现愿望" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="__STATIC__css/bootstrap.css" />
<link rel="stylesheet" href="__STATIC__css/common.css" />
<link rel="stylesheet" href="__STATIC__css/common.css" />
<link rel="shortcut icon" href="/Public/Common/Images/favicon.ico" />
<script type="text/JavaScript" src='__STATIC__js/jquery.min.js'></script>
<script type="text/JavaScript" src='__STATIC__js/bootstrap.min.js'></script>
<script type="text/JavaScript" src='__STATIC__js/jquery.SuperSlide.2.1.1.js'></script>
<script type="text/javascript" src="__STATIC__js/common.js"></script>
<link rel="stylesheet" href="__STATIC__css/index.css" />
<script type="text/javascript">
    window.UEDITOR_HOME_URL = '/Data/Ueditor.add/';
    window.onload = function(){
        window.UEDITOR_CONFIG.initialFrameHeight = 100;
        window.UEDITOR_CONFIG.imageUrl = "/Index/Index/upload.html";           //图片上传提交地址
        window.UEDITOR_CONFIG.imagePath = '/Uploads/';   
        UE.getEditor('content');
    }
    $(function(){ 
       $('#nav_add').addClass('cur');
    }) 
</script>
<script type="text/javascript" src="__STATIC__js/ueditor.config.min.js"></script>
<script type="text/javascript" src="__STATIC__js/ueditor.all.js"></script>
<script type="text/javascript">
    function resize_window(){
        $(".MainBar").width($(window).width()-150);
    }
    $(function(){
        resize_window();
        $(window).resize(function(){
            resize_window();
        })
        $('#type').change(function(){
            $('#typetext').text($('#type').val());
        });
        $('#content').change(function(){
            $('#contenttext').text($('#content').val());
        });
        $('#fromname').blur(function(){
            $('#fromtext').text($('#fromname').val());
        });
        $('.radio').click(function(){
            $('#typetext').removeClass('c1 c2 c3 c4 c5 c6 c7');
            $('#typetext').addClass('c'+$(this).val());
        });
    });
</script>
</head>
<body>
<link rel="stylesheet" href="__STATIC__css/index.css" />
<link rel="stylesheet" href="__STATIC__css/jquery.mCustomScrollbar.css" />
<script type="text/javascript">
    function resize_window(){
        $(".MainBar").width($(window).width()-150);
    }
    $(function(){
        resize_window();
        $(window).resize(function(){
            resize_window();
        })
    })
</script>
<div class="SideBar">
    <a href="index.html" class="h1"  title="许愿网" style="background:#073553 url(__STATIC__images/57812106b8c1e.png)  no-repeat center center;"><h1 title="许愿网">许愿网</h1></a>
    <a id="nav_add" href="{:url('Index/add')}" title="立即许愿">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
    <a id="nav_search" href="/search" title="搜索愿望">
        <span class="glyphicon glyphicon-search"></span>
    </a>
    <a id="nav_user" href="/user.html" title="许愿会员中心">
        <span class="glyphicon glyphicon-user"></span>
    </a>
    <a id="nav_html_1" href="/html/about.html" title="关于许愿网">
        <span class="glyphicon glyphicon-info-sign"></span>
    </a>
    <a id="nav_html_2" href="/html/note.html" title="许愿网建议">
        <span class="glyphicon glyphicon-comment"></span>
    </a>
</div>
 
<div class="MainBar">
    <div class="box">
        <div class="wrap">
            <script type="text/javascript" src="js/wish.js"></script> 
            <div class="wishSub" >
                <div class="left">
                    <div class="title"><b>我要许愿→</b></div>
                    <form method="post" id="wishform">
                       
                       {foreach item="val" name="name" key="key"}
                        <label><input type="radio" class="radio" name="class" value="{$key+1}" checked="checked"/><div class="color" style="background-color:{$val}"></div></label>
						{/foreach}
						
                        <select name="type" class="type" id="type">
						{foreach item="val" key="key" name="list"}
                          <option value="{$val}">{$val}</option>
						{/foreach}
                        </select>
                        <div class="blank"></div>
                        <textarea class="textarea" name="content" id="content" placeholder="请输入许愿内容"></textarea>
                        <div class="blank"></div>
						
						
                        <input id="codeInput" type="code" class="codee"  name="code" /> 
                        <div id="vode">
						<img id="captchs" src="{:captcha_src()}" alt="captcha" style="cursor:pointer;" />
                        
						<small > </small>
						</div>
						
                        <div class="blank"></div>
                        <input type="input" name="fromname" id="fromname" class="input" value=""  placeholder="请输入许愿人"/>
                        <div class="blank"></div>
                        <input type="button" id="button" class="submit" value="我来许愿 +"/>
                        <p>
                            亲，登录后可以在后台查看您的愿望噢！<a href="/User/User/login" title="许愿网登录">许愿网登录>></a><br/>
                                还没有帐号？<a href="/User/User/reg" title="许愿网注册">立即注册许愿网>></a>
                                                        </p>
                    </form>
                </div>
                <div class="right">
                    <b id="typetext">求吉祥运气</b>
                    <div class="addbox">
                        <p id="contenttext">这里是许愿的内容...</p>
                        <span>许愿人:<em id="fromtext">小许</em><br/>许愿时间：2017-09-06 10:02:18<br/>未知&nbsp;/&nbsp;未知</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="__STATIC__js/jquery.mCustomScrollbar.concat.min.js"></script>



<script>
    (function($){
        $(window).load(function(){
            $(".wrap").mCustomScrollbar({
                set_width:false, /optional element width: boolean, pixels, percentage*/
                set_height:false, /optional element height: boolean, pixels, percentage*/
                horizontalScroll:false, /scroll horizontally: boolean*/
                scrollInertia:950, /*scrolling inertia: integer (milliseconds)*/
                mouseWheel:true, /*mousewheel support: boolean*/
                mouseWheelPixels:"auto", /*mousewheel pixels amount: integer, "auto"*/
                autoDraggerLength:true, /auto-adjust scrollbar dragger length: boolean*/
                autoHideScrollbar:false, /*auto-hide scrollbar when idle*/
                scrollButtons:{ /*scroll buttons*/
                    enable:false, /*scroll buttons support: boolean*/
                    scrollType:"continuous", /*scroll buttons scrolling type: "continuous", "pixels"*/
                    scrollSpeed:"auto", /scroll buttons continuous scrolling speed: integer, "auto"*/
                    scrollAmount:40 /scroll buttons pixels scroll amount: integer (pixels)*/
                },
                advanced:{
                    updateOnBrowserResize:true, /update scrollbars on browser resize (for layouts based on percentages): boolean*/
                    updateOnContentResize:false, /*auto-update scrollbars on content resize (for dynamic content): boolean*/
                    autoExpandHorizontalScroll:false, /*auto-expand width for horizontal scrolling: boolean*/
                    autoScrollOnFocus:true, /*auto-scroll on focused elements: boolean*/
                    normalizeMouseWheelDelta:false /*normalize mouse-wheel delta (-1/1)*/
                },
                contentTouchScroll:true, /*scrolling by touch-swipe content: boolean*/
                callbacks:{
                    onScrollStart:function(){}, /*user custom callback function on scroll start event*/
                    onScroll:function(){}, /user custom callback function on scroll event*/
                    onTotalScroll:function(){}, /*user custom callback function on scroll end reached event*/
                    onTotalScrollBack:function(){}, /*user custom callback function on scroll begin reached event*/
                    onTotalScrollOffset:0, /scroll end reached offset: integer (pixels)*/
                    onTotalScrollBackOffset:0, /*scroll begin reached offset: integer (pixels)*/
                    whileScrolling:function(){} /*user custom callback function on scrolling event*/
                },
                theme:"light" /"light", "dark", "light-2", "dark-2", "light-thick", "dark-thick", "light-thin", "dark-thin"*/
            });
        });
    })(jQuery);
</script>
<script type="text/javascript">
	$("#vode img").click(function(){
	<!-- $(this).attr("src","/captcha?id="+Math.random());  -->
	document.getElementById('captchs').src="/captcha?id="+Math.random();
	//document.getElementById('captchs').src="/captcha?id="+Math.random();
	
});

	$("#button").click(function(){
		$.ajax({
			url:"http://www.dream.com/index/Index/do_add",
			type:'POST',
			data:$('#wishform').serialize(),
			success:function(result){
				alert(result.msg);
			},
			error:function(result){
				alert('fail'); 
			}
		});
	});
</script>

</body>
</html>